<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deshang365.meeting"
    android:versionCode="9"
    android:versionName="1.1.7" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_SMS" /> -->
    <!-- 分享所需权限 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".baselib.MeetingApp"
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="TencentMapSDK"
            android:value="M7HBZ-XTQAJ-MEZFH-FBNVY-EWZJO-5CF5V" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="deshang#meeting" />
        <!-- Required SDK核心功能 -->
        <service android:name="com.easemob.chat.EMChatService" />
        <service android:name=".service.DownloadListenService" >
        </service>
        <service android:name=".service.DownloadService" >
        </service>

        <activity
            android:name="cn.smssdk.SMSSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.UserInfoDetailActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.CreaterSignRecordActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- 信鸽 -->
        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2" >
            <intent-filter android:priority="0x7fffffff" >

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
            <intent-filter android:priority="0x7fffffff" >
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理 -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="false" >
            <intent-filter>

                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action" -->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【建议】 信鸽service守护进程，可以增加复活机会，提升消息抵达率 -->
        <service
            android:name="com.tencent.android.tpush.service.XGDaemonService"
            android:process=":qq_push_daemon" />

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100047632" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AK285JP17PSX" />

        <activity
            android:name=".activity.TalkTogetherActivity"
            android:label="@string/title_activity_talk_together"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activity.GroupsActivity"
            android:label="@string/title_activity_groups"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.GroupDetailsActivity"
            android:label="@string/title_activity_group_member"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DefaultActivity"
            android:label="@string/title_activity_default"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UnLoginActivity"
            android:label="@string/title_activity_un_login"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.CreateSignActivity"
            android:label="@string/title_activity_sign_record_history"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DoCreateSignActivity"
            android:label="@string/title_activity_sign"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.SignHistoryActivity"
            android:label="@string/title_activity_user_sign"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.UserSignActivity"
            android:label="@string/title_activity_user_sign"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.JoinGroupActivity"
            android:label="@string/title_activity_join_group"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.SigningActivity"
            android:label="@string/title_activity_signing"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.SignSingleResultActivity"
            android:label="@string/title_activity_sign_result"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.LoginSignedActivity"
            android:label="@string/title_activity_login_signed"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.CompleteGroupActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.QRCodeActivity"
            android:label="@string/title_activity_qrcode"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activity.SignAllResultActivity"
            android:label="@string/title_activity_sign_all_result"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.NearSignGroupsActivity"
            android:label="@string/title_activity_near_sign_groups" >
        </activity>
        <activity
            android:name=".activity.EditPasswordActivity"
            android:label="@string/title_activity_edit_password" >
        </activity>
        <activity
            android:name=".activity.ResetPwdActivity"
            android:label="@string/title_activity_reset_pwd" >
        </activity>
        <activity
            android:name=".activity.SetPwdActivity"
            android:label="@string/title_activity_set_pwd" >
        </activity>

        <!-- 请将MTA_APPKEY改为MTA分配的appkey < -->
        <meta-data
            android:name="TA_APPKEY"
            android:value="A36R3JI9MYVT" />
        <!-- 请将CHANNAL改为app的发布渠道 < -->
        <meta-data
            android:name="InstallChannel"
            android:value="CHANNAL" />

        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="AuthorizeAdapter"
                android:value="cn.sharesdk.onekeyshare.theme.classic.CustomSSOAdapter" />
        </activity>
        <activity
            android:name=".activity.ChangeGroupNameActivity"
            android:label="@string/title_activity_change_name" >
        </activity>
        <activity
            android:name=".activity.ChangeShowNameActivity"
            android:label="@string/title_activity_change_show_name" >
        </activity>
        <activity
            android:name=".activity.SetActivity"
            android:label="@string/title_activity_change_email" >
        </activity>
        <activity
            android:name=".activity.ChangeDataActivity"
            android:label="@string/title_activity_change_data" >
        </activity>
        <activity
            android:name=".activity.AppQrCodeActivity"
            android:label="@string/title_activity_app_qr_code" >
        </activity>
        <activity
            android:name=".activity.IdentifyCodeActivity"
            android:label="@string/title_activity_identify_code" >
        </activity>
        <activity
            android:name=".activity.JoinerSignRecordActivity"
            android:label="@string/title_activity_blue_sign" >
        </activity>
        <activity
            android:name=".activity.UserBlueSignActivity"
            android:label="@string/title_activity_user_blue_sign" >
        </activity>

        <service android:name=".service.TimeToUploadService" >
        </service>

        <activity
            android:name=".activity.SignModeActivity"
            android:label="@string/title_activity_sign_mode" >
        </activity>
        <activity
            android:name=".activity.FeedBackActivity"
            android:label="@string/title_activity_feed_back" >
        </activity>
        <activity
            android:name="com.deshang365.meeting.activity.MySignRecordActivity"
            android:label="@string/title_activity_my_sign_record" >
        </activity>
    </application>

</manifest>